<div class="columns is-multiline is-justify-content-space-around is-align-items-center is-mobile">
  <div class="column has-text-centered is-4-mobile is-3-tablet is-1-desktop">
    <button id="graph-download-button" class="button button-download is-primary">
      <span class="icon">
        <i class="fas fa-download"></i>
      </span>
      <span>ダウンロード</span>
    </button>
    <a id="download_link"></a>
  </div>
</div>
