<div class="columns is-multiline is-justify-content-space-around is-align-items-center is-mobile">
  <% if current_user.own?(my_history) %>
    <div class="column has-text-centered is-4-mobile is-3-tablet is-1-desktop">
      <a class="button button-download is-primary" href="#">
        <span class="icon">
          <i class="fas fa-download"></i>
        </span>
        <span>ダウンロード</span>
      </a>
    </div>
  <% end %>
</div>
