<span id="history_number_of_case" class="has-text-weight-semibold">
  <%= pagy.in %>件の自分史が見つかりました
</span>
<span id="history_number_of_full" class="has-text-weight-semibold">
  <%= pagy.from %> - <%= pagy.to %>件 / <%= pagy.count %>件
</span>
