<article class="post">
  <h3>
    <a href="#" class="history_title">
      <%= my_history.title %>
    </a>
  </h3>
  <div class="media">
    <div class="media-left">
      <p class="image is-48x48">
        <img src="http://bulma.io/images/placeholders/128x128.png">
      </p>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <span>ユーザー名：</span>
          <span>佐藤</span>
        </p>
        <p>
          <span>年齢：</span>
          <span>30歳</span>
        </p>
        <p>
          <span>性別：</span>
          <span>男性</span>
        </p>
      </div>
    </div>
    <div class="like_comment_count">
      <div class="media-right">
        <span class="has-text-grey-light">
          <i class="fa fa-comments"></i> 1
        </span>
      </div>
      <div class="media-right">
        <span class="has-text-grey-light">
          <i class="fa fa-thumbs-up"></i> 1
        </span>
      </div>
    </div>
  </div>
</article>
