<% content_for(:title, t(".title")) %>
<main class="wrap-content">
  <div class="columns my-6 is-centered is-mobile">
    <div class="column pd-sm box is-10-mobile is-three-fifths-tablet is-two-fifths-desktop is-two-fifths-widescreen is-one-third-fullhd">
      <h1 class="title has-text-centered mb-5">軌跡新規作成</h1>
      <form action="#" method="post">
        <div class="field mb-5">
          <label class="label">年齢</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="20">
          </div>
          <p class="help has-text-grey-dark">＊0〜100の半角数値を入力してください</p>
        </div>

        <hr class="navbar-divider mb-5">

        <div class="mb-4">
          <p class="label is-size-5">充実度と出来事</p>
          <p class="has-text-danger is-text-size">＊ 個人を特定できる情報は載せないようご注意ください</p>
        </div>

        <div class="field mb-5">
          <label class="label">0〜5歳（幼少期）の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">0〜5歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">6〜10歳（小学１年生 〜 小学４年生）の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">6〜10歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">11〜15歳（小学５年生 〜 中学３年生）の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">11〜15歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">16〜20歳（高校１年生 〜 大学２年生）の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">16〜20歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">21〜25歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">21〜25歳（大学３年生 〜 社会人４年目）の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">26〜30歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">26〜30歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">31〜35歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">31〜35歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">36〜40歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">36〜40歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">41〜45歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">41〜45歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">46〜50歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">46〜50歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">51〜55歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">51〜55歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">56〜60歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">56〜60歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">61〜65歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">61〜65歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">66〜70歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">66〜70歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">71〜75歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">71〜75歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">76〜80歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">76〜80歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">81〜85歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">81〜85歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">86〜90歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">86〜90歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">91〜95歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">91〜95歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <div class="field mb-5">
          <label class="label">96〜100歳の充実度</label>
          <div class="control">
            <input type="text" class="input is-sm-form-size" placeholder="100">
          </div>
          <p class="help has-text-grey-dark">＊充実度を半角数値「-100〜100」で入力してください</p>
        </div>

        <div class="field mb-5">
          <label class="label">96〜100歳の出来事</label>
          <div class="control">
            <textarea class="textarea" placeholder="〇〇があった"></textarea>
          </div>
        </div>

        <hr class="navbar-divider mb-5">

        <div class="field mb-5">
          <div class="mb-4">
            <p class="label is-size-5">公開・非公開 設定</p>
          </div>
          <div class="control">
            <label class="radio mb-2">
              <input type="radio" name="question">
              公開
            </label>
          </div>
          <div class="control">
            <label class="radio">
              <input type="radio" name="question">
              非公開
            </label>
          </div>
        </div>

        <div class="field has-text-centered mb-5">
          <div class="control">
            <input type="submit" name="commit" value="軌跡作成" class="button is-btn-yellow btn-design has-text-weight-semibold">
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
