<p><%= @user.name%>様</p>
<p>===============================================</p>

<p>※本メールは自動で配信されています。</p>

<p>本メールアドレス宛にパスワード再発行のご依頼を受け付けました。</p>

<p>下記のURLにてパスワードの再発行を行ってください。</p>

<p>パスワード再発行入力ページ：<a href="<%= @url %>"><%= @url %></a></p>

<p>なお、本メールは送信専用です。本メールに返信されてもご対応は致しかねます。</p>

<p>また、パスワードのリセットにお心当たりがない場合はこのメールを無視してください。</p>

<p>////////////////////////////////////////</p>
<p>つづる自分史</p>
<p>URL <a href="https://www.tsuzuru-jibunshi.com/">https://www.tsuzuru-jibunshi.com/</a></p>
<p>////////////////////////////////////////</p>
