<header>
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
      </a>

      <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" href="#">
          軌跡一覧
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a class="button is-primary">
              <strong>ユーザー登録</strong>
            </a>
            <a class="button is-light">
              ログイン
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<main>

</main>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <a href="#" class="p-3 has-text-grey-darker">利用規約</a>
      <a href="#" class="p-3 has-text-grey-darker">プライバシーポリシー</a>
      <a href="#" class="p-3 has-text-grey-darker">お問い合わせ</a>
    </p>
    <p>
      &copy; 2021 人生の軌跡
    </p>
  </div>
</footer>
