<% if object.errors.include?(attribute) %>
  <div id="error_message" class="has-text-danger">
    <ul>
      <li><%= object.errors.full_messages_for(attribute).first %></li>
    </ul>
  </div>
<% end %>
