<footer class="footer has-background-primary-light p-4">
  <div class="content has-text-centered">
    <p>
      <%= link_to "利用規約", "#", class: "p-3" %>
      <%= link_to "プライバシーポリシー", "#", class: "p-3" %>
      <%= link_to "お問い合わせ", "#", class: "p-3" %>
    </p>
    <p>
      &copy; 2021 人生の軌跡
    </p>
  </div>
</footer>
