<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <%= link_to "利用規約", "#", class: "p-1 is-navy ft-size-sm" %>
      <%= link_to "プライバシーポリシー", "#", class: "p-1 is-navy ft-size-sm" %>
      <%= link_to "お問い合わせ", "#", class: "p-1 is-navy ft-size-sm" %>
    </p>
    <p class="copy-right">
      &copy; 2021 人生の軌跡
    </p>
  </div>
</footer>
