/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*========================================
  FontAwesome
========================================*/
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "@fortawesome/fontawesome-free/scss/v4-shims";

/*========================================
  Bulmaカスタマイズ
========================================*/
/* ブレークポイントの修正 */
$gap: 32px !default;
// タブレット：768px〜1024px
$tablet: 768px !default;
// デスクトップ：1025px〜1215px
$desktop: 960px+(2 * $gap) + 1 !default;
// ワイドスクリーン：1216px〜1407px
$widescreen: 1152px+(2 * $gap) !default;
// フルHD：1408px〜
$fullhd: 1344px+(2 * $gap) !default;

@import "header_footer";
@import "parts";
@import "bulma";
@import "bulma-extensions";
@import "create_history";
@import "timeline";
@import "list_history";
@import "my_history_show";
@import "profile_show";

/*========================================
  リセットCSS
========================================*/
/* 画面の右にできる余白を削除 */
.wrap {
  width: 100%;
  overflow: hidden;
}

.columns {
  margin-top: 0;
}
