/*========================================
  変数
========================================*/
// Bulma変数
$navbar-background-color: #E3F6F5;
$navbar-item-color: #272343;
$navbar-item-hover-color: #0d0c16;
$navbar-item-hover-background-color: #ffd803;
$navbar-dropdown-item-hover-color: #141222;
$navbar-dropdown-item-hover-background-color: #ffd803;
$footer-background-color: #E3F6F5;
$footer-padding: 1.5rem 0 1.5rem;
$footer-color: #272343;

// 独自変数
$font-color: #272343;
$font-color-sub1: #ffd803;

/*========================================
  header
========================================*/
a.navbar-item img {
  max-height: 2.5rem;
}

.msg-slide {
  position: fixed;
  top: 0;
  z-index: 40;
  width: 100%;
  color: $font-color;
  display: none;
  &.is-success {
    background: rgba(190, 215, 224, 1);
  }
  &.is-danger {
    background: rgba(255, 192, 203, 1);
  }
}

a.navbar-item,
a.navbar-link {
  font-weight: 600;
}

/*========================================
  footer
========================================*/
.footer {
  .is-navy,
  .copy-right {
    color: $footer-color;
  }

  .is-navy:hover {
    color: $font-color-sub1;
    text-decoration: underline;
  }

  @media screen and (max-width: 350px) {
    padding: 1rem 0 1rem !important;
    .ft-size-sm {
      font-size: 0.8rem;
    }
  }
}

// footerを１番下に固定
.wrap {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .wrap-content {
    flex: 1;
  }
}

.author-twitter {
  font-size: 18px;
}
