/*==================================
  変数
==================================*/
// Bulma変数
$label-color: #272343;
$title-color: #272343;
$button-color: #272343;
$button-hover-color: #141222;
$input-background-color: #f6f5f4;
$file-cta-background-color: #f6f5f4;
$file-cta-color: #272343;
$file-cta-hover-color: #141222;

// 独自変数
$font-color: #272343;
$font-color-hover: #3273dc;
$background-color: #fafbfc;
$background-color-sub1: #fff;
$button-background-color: #ffe036;
$button-background-color-sub1: #ffd803;


/*==================================
  base
==================================*/
.wrap-content {
  background-color: $background-color;
  .column {
    background-color: $background-color-sub1;
  }
}

@media screen and (min-width: 1408px) {
  .column.is-one-third-fullhd {
    max-width: 500px;
  }
}

.form-wrap {
  border: 3px solid $button-background-color;
}

/*========================================
  form
========================================*/
div.pd-sm {
  padding: 1.5rem;
  @media screen and (max-width: 350px) {
    padding: 1rem;
    .ft-size-sm {
      font-size: 0.9rem;
    }
  }
  .has-link {
    color: $font-color;
    a:hover {
      color: $font-color-hover;
      text-decoration: underline;
    }
  }
}

// 軌跡の作成や編集画面の入力フォーム
.control .is-sm-form-size {
  width: 26%;
  max-width: 82px;
  @media screen and (min-width:768px) and (max-width:1407px) {
    width: 16%;
    max-width: 76px;
  }
  @media screen and (min-width: 1408px) {
    width: 10%;
    min-width: 65px;
  }
}

.is-text-size {
  font-size: 1rem;
  @media screen and (max-width: 450px) {
    font-size: 0.77rem;
  }
}

input.error {
  border: 1px solid #f14668;
}

/*==================================
  button
==================================*/
input.is-btn-yellow {
  background-color: $button-background-color;
  border: none;
  // font-weight: 700;
  &:hover {
    color: $button-hover-color;
    border: none;
    background-color: $button-background-color-sub1;
    transition: 0.3s;
  }
  &:active,
  &:focus,
  &[disabled] {
    color: $button-hover-color;
    background-color: $button-background-color-sub1;
    border: none;
  }
}

input.btn-design {
  width: 100px;
  height: 40px;
}

/*==================================
  画像
==================================*/
.image .prev-img {
  width: 100%;
  height: 100%;
}
