/*==================================
  変数
==================================*/
/* form関係 */
$label-color: #272343;
$title-color: #272343;
$button-color: #272343;
$button-hover-color: #141222;
$input-background-color: #f6f5f4;
$file-cta-background-color: #f6f5f4;
$file-cta-color: #272343;
$file-cta-hover-color: #141222;

/*==================================
  base
==================================*/
.wrap-content {
  background-color: #fafbfc;
  .column {
    background-color: #fff;
  }
}

@media screen and (min-width: 1408px) {
  .column.is-one-third-fullhd {
    max-width: 500px;
  }
}

/*========================================
  form
========================================*/
div.pd-sm {
  padding: 1.5rem;
  @media screen and (max-width: 350px) {
    padding: 1rem;
    .ft-size-sm {
      font-size: 0.9rem;
    }
  }
  .has-link {
    color: #272343;
    a:hover {
      color: #3273dc;
      text-decoration: underline;
    }
  }
}

// 軌跡の作成や編集画面の入力フォーム
.control .is-sm-form-size {
  width: 26%;
  max-width: 82px;
  @media screen and (min-width:768px) and (max-width:1407px) {
    width: 16%;
    max-width: 76px;
  }
  @media screen and (min-width: 1408px) {
    width: 10%;
    min-width: 65px;
  }
}

.is-text-size {
  font-size: 1rem;
  @media screen and (max-width: 450px) {
    font-size: 0.77rem;
  }
}

// エラーフォームにボーダーを付与
.field_with_errors > input {
  border: 1px solid #f14668;
}

/*==================================
  button
==================================*/
input.is-btn-yellow {
  background-color: #ffe036;
  border: none;
  &:hover {
    color: $button-hover-color;
    border: none;
    background-color: #ffd803;
  }
  &:active {
    border: none;
  }
}

input.btn-design {
  width: 100px;
  height: 40px;
}

/*==================================
  画像
==================================*/
.image .prev-img {
  width: 100%;
  height: 100%;
}
