.content h5,
.mypage {
  color: #272343;
}

.table thead tr th{
  color: #272343;
}

.table tbody tr td {
  color: #272343;
}

a.my_page_history {
  color: #272343;
  text-decoration: underline;
  &:hover {
    color: #6157a7;
    text-decoration: none;
  }
}

.withdraw {
  color: #272343;
  text-decoration: underline;
  &:hover {
    color: #6157a7;
    text-decoration: none;
  }
}
